[submodule "Submodules/MonoGame"]
	path = Submodules/MonoGame
	url = https://github.com/mono/MonoGame.git
[submodule "Submodules/Json.NET"]
	path = Submodules/Json.NET
	url = https://github.com/JamesNK/Newtonsoft.Json
